
/*  Globals */



.genUser-dashboard {
    display: flex;
    text-align: center;
    width: 100vw;
    justify-content: space-evenly;
}

.user-info{
    border: solid 2px black;
    display: grid;
}